body{
    background: url(../css/img1.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}


.titulo1{
   
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 2px 10px 17px -6px rgba(0,0,0,0.75);
}

.titulo2{
    text-align: center;
    
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 2px 10px 46px -6px rgba(0,0,0,0.75);
}

.titulo3{
    text-align: center;
    
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: 2px 10px 17px -6px rgba(0,0,0,0.75);
}


li:hover{
    cursor: pointer;
}

#listas{
    text-decoration: none;
}

#listas1{
    text-decoration:none;
}

#listas2{
    text-decoration: none;
}